In [20]:
#some pandas practice
import pandas as pd
import numpy as np



ser = pd.Series(np.random.randn(5))

ser
#second argument's series can be used to determine the index associated with the values
ser.index = [6,7,5,9,5]
ser
ser

6    0.296503
7    0.155380
5   -1.784861
9   -0.634944
5   -0.762129
dtype: float64

In [21]:
#this is why Pandas series are a replacement to Python dictionaries
#by the way, by passing a dictionary as an arguments to the series() object we can create a series with values and indexes
dict1 = {
    1 : 'Buenos Aires',
    2 : 'Paris',
    3 : 'Amsterdam'
}

dicttoseries = pd.Series(dict1)
dicttoseries

1    Buenos Aires
2           Paris
3       Amsterdam
dtype: object

In [23]:
#Now lets go to DataFrames
#DataFrames are multidimensional sets of data used to be represented as a tabular data...

dict2 = {
    'books'  : ['Lord of the rings 1', 'Lord of the rings 2', 'sirmarillion', 'hobbit'],
    'preference' : [8, 9, 8, 10],
    'price' : [500, 600, 300, 400]
    
}
df1 = pd.DataFrame(dict2)
df1

                 books  preference  price
0  Lord of the rings 1           8    500
1  Lord of the rings 2           9    600
2         sirmarillion           8    300
3               hobbit          10    400

In [30]:
#you can as well take the columns you want in the order you want...
pd.DataFrame(dict2, columns=['price', 'preference', 'demand'], index = ['zero','one','two','three'])

       price  preference demand
zero     500           8    NaN
one      600           9    NaN
two      300           8    NaN
three    400          10    NaN

In [31]:
# a column can be retrieved as a series both with a dict-like notation...
df1['books']

0    Lord of the rings 1
1    Lord of the rings 2
2           sirmarillion
3                 hobbit
Name: books, dtype: object

In [32]:
#...or with a attribute-like notation as well
df1.books

0    Lord of the rings 1
1    Lord of the rings 2
2           sirmarillion
3                 hobbit
Name: books, dtype: object